*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
     font-size: 45px;
}

.color-orange {
     color: #FD6E0A;
     font-weight: 900;
}

.btn {
     background-color: #FD6E0A;
     color: white;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
}

/* .btn:hover{
     background-color: transparent;
     border: 2px solid #FD6E0A;
     color: #FD6E0A;
} */

/* main style */
header{
     background-color: #FFF8F3;
     padding-top: 50px;
}

nav{
     width: 70%;
     max-width: 1920px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav .menu{
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     gap: 51px;
     align-items: center;
}

nav .menu a {
     font-size: 20px;
     text-decoration: none;
     color: #474747;
}
